nav {
  width: 980px;
  height: 92.5px;
  border-bottom: solid 2px $site-white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 42px;
    width: 96px;
  }
  .links {
    display: flex;
    align-items: center;
    text-transform: lowercase;

    a {
      margin-top: 3px;
      color: $site-white;
      font-size: 15px;
      text-decoration: none;
      letter-spacing: 2px;
    }

    span {
      color: $site-blue;
      margin: 0 10px;
      font-size: 25px;
      font-weight: 100;
    }
  }
}
