.section-five {
  height: 90%;
  .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: -20px;
  }

  h1 {
    margin-top: 15px;
    font-family: $font-didot;
    font-style: italic;
    font-size: 80px;
    font-weight: 400;
    line-height: 75px;
  }
}

.section-six {
  height: 130%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .info {
      padding-left: 25px;
    }

    h2 {
      margin-bottom: 0;
    }

    h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: 0;
    }
  }

  .img-row {
    margin: 30px;
    //background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row2 {
    width: 44.25%;
  }

  .image {
    height: 188px;
    width: 188px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    color: $white;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .pic1 {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.5),
        rgba($black, 0.5)
      ),
      url(../img/profile.jpg);
  }

  .pic1:hover {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.4),
        rgba($black, 0.4)
      ),
      url(../img/profile.jpg);
  }

  .pic2 {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.5),
        rgba($black, 0.5)
      ),
      url(../img/matth.jpg);
  }

  .pic2:hover {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.4),
        rgba($black, 0.4)
      ),
      url(../img/matth.jpg);
  }

  .pic3 {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.5),
        rgba($black, 0.5)
      ),
      url(../img/pic3.jpg);
  }
  .pic3:hover {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.4),
        rgba($black, 0.4)
      ),
      url(../img/pic3.jpg);
  }

  .pic4 {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.5),
        rgba($black, 0.5)
      ),
      url(../img/pic4.jpg);
  }

  .pic4:hover {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.4),
        rgba($black, 0.4)
      ),
      url(../img/pic4.jpg);
  }

  .pic5 {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.5),
        rgba($black, 0.5)
      ),
      url(../img/pic5.jpg);
  }

  .pic5:hover {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.4),
        rgba($black, 0.4)
      ),
      url(../img/pic5.jpg);
  }

  .pic6 {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.5),
        rgba($black, 0.5)
      ),
      url(../img/pic6.jpg);
  }

  .pic6:hover {
    background-image: linear-gradient(
        to right,
        rgba($black, 0.4),
        rgba($black, 0.4)
      ),
      url(../img/pic6.jpg);
  }

  .name,
  .title {
    font-family: $font-montserrat;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .title {
    font-size: 10px;
    font-style: italic;
    display: none;
  }

  .image:hover {
    cursor: pointer;
  }

  .image:hover .title {
    display: block;
  }
}
