//VARIABLES FOR SCSS

//FONTS
$font-montserrat: 'Montserrat', sans-serif;
$font-didot: 'Didot', serif;
$font-oswald: 'Oswald', sans-serif;

//COLORS
$orange: #fa6e0d;
$black: #000;
$white: #fff;
