// site colors
$site-black: #000000;
$site-gray: #f5f5f5;
$site-white: #ffffff;
$site-blue: #79addc;
$site-orange: #ff7d38;

$font-roboto: "Roboto", sans-serif;
$font-lato: "Lato", sans-serif;

$site-full-width: 1280px;
