//ISRAEL PICTURES

.israel-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.israel01 {
  background-image: url("../images/tour/tour-israel/israel-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.israel02 {
  background-image: url("../images/tour/tour-israel/israel-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.israel03 {
  background-image: url("../images/tour/tour-israel/israel-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//USA PICTURES
.usa-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.usa01 {
  background-image: url("../images/tour/tour-usa/usa-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.usa02 {
  background-image: url("../images/tour/tour-usa/usa-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.usa03 {
  background-image: url("../images/tour/tour-usa/usa-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//AUSTRALIA PICTURES
.aus-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aus01 {
  background-image: url("../images/tour/tour-aus/aus-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aus02 {
  background-image: url("../images/tour/tour-aus/aus-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aus03 {
  background-image: url("../images/tour/tour-aus/aus-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//NEW ZEALAND PICTURES
.nz-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-04.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nz01 {
  background-image: url("../images/tour/tour-nz/nz-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nz02 {
  background-image: url("../images/tour/tour-nz/nz-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nz03 {
  background-image: url("../images/tour/tour-nz/nz-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//FRANCE PICTURES
.france-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-05.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.france01 {
  background-image: url("../images/tour/tour-france/france-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.france02 {
  background-image: url("../images/tour/tour-france/france-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.france03 {
  background-image: url("../images/tour/tour-france/france-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//EGYPT PICTURES
.egypt-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-06.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.egypt01 {
  background-image: url("../images/tour/tour-egypt/egypt-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.egypt02 {
  background-image: url("../images/tour/tour-egypt/egypt-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.egypt03 {
  background-image: url("../images/tour/tour-egypt/egypt-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//JAPAN PICTURES
.japan-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-07.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.japan01 {
  background-image: url("../images/tour/tour-japan/japan-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.japan02 {
  background-image: url("../images/tour/tour-japan/japan-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.japan03 {
  background-image: url("../images/tour/tour-japan/japan-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//CANADA PICTURES
.canada-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-08.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.canada01 {
  background-image: url("../images/tour/tour-canada/canada-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.canada02 {
  background-image: url("../images/tour/tour-canada/canada-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.canada03 {
  background-image: url("../images/tour/tour-canada/canada-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//UAE PICTURES
.uae-header {
  background: linear-gradient(
      to right,
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url("../images/tour/tour-09.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uae01 {
  background-image: url("../images/tour/tour-uae/uae-tour-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uae02 {
  background-image: url("../images/tour/tour-uae/uae-tour-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uae03 {
  background-image: url("../images/tour/tour-uae/uae-tour-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
